{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    {% if suppliers %}
    <table style = "border: 1px">
        <thead>
            <tr>
                <th>ID</th>
                <th>Код</th>
                <th>Наименование</th>
                <th>ИНН</th>
                <th>Юр. адрес</th>
                <th>Банк. счет</th>
                <th>Адрес банка</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.id }}</td>
                <td>{{ supplier.supplier_code }}</td>
                <td>{{ supplier.supplier_name }}</td>
                <td>{{ supplier.tin }}</td>
                <td>{{ supplier.legal_postal_code or '' }}, {{ supplier.legal_city or '' }}, {{ supplier.legal_street or '' }}, {{ supplier.legal_house or '' }}</td>
                <td>{{ supplier.bank_account_number or '' }}</td>
                <td>{{ supplier.bank_postal_code or '' }}, {{ supplier.bank_city or '' }}, {{ supplier.bank_street or '' }}, {{ supplier.bank_house or '' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Для данного материала еще не было поставок, либо поставщики не указаны.</p>
    {% endif %}

    <p style="margin-top: 20px;">
        <a href="{{ url_for('main.materials') }}">Назад к списку материалов</a>
    </p>
{% endblock %}